<mat-card>
  <mat-card-title class="title">Novo Abastecimento</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()" class="form">
      <p>
        <mat-form-field class="full-width">
          <input
            maxlength="10"
            type="text"
            matInput
            placeholder="Placa do veículo"
            formControlName="plate"
            oninput="this.value = this.value.toUpperCase()"
          />
        </mat-form-field>
        <span
          class="alert"
          *ngIf="form.get('plate')?.errors && form.get('plate')?.touched"
          >Usuário obrigatória
        </span>
      </p>

      <p>
        <mat-form-field class="full-width">
          <input
          maxlength="15"
            type="text"
            matInput
            placeholder="Quilometragem"
            formControlName="mileage"
            onlyNumber
          />
        </mat-form-field>
        <span
          class="alert"
          *ngIf="form.get('mileage')?.errors && form.get('mileage')?.touched"
          >Quilometragem obrigatória
        </span>
      </p>

      <p>
        <mat-form-field class="full-width" (click)="picker.open()">
          <mat-label>Data</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            (click)="picker.open()"
            formControlName="date"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <span
          class="alert"
          *ngIf="form.get('date')?.errors && form.get('date')?.touched"
          >Data obrigatória
        </span>
      </p>

      <p></p>
      <p>
        <mat-form-field class="full-width">
          Horas
          <input
            type="time"
            matInput
            placeholder="Horas"
            formControlName="hour"
          />
        </mat-form-field>
        <span
          class="alert"
          *ngIf="form.get('hour')?.errors && form.get('hour')?.touched"
          >Horas obrigatória
        </span>
      </p>

      <p>
        <mat-form-field class="full-width">
          <input
          maxlength="15"
          currencyMask
            type="text"
            matInput
            placeholder="Valor total do abastecimento "
            formControlName="total"
            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left'}"
          />
        </mat-form-field>
        <span
          class="alert"
          *ngIf="form.get('total')?.errors && form.get('total')?.touched"
          >Valor total obrigatória
        </span>
      </p>

      <p *ngIf="error" class="error">
        {{ error }}
      </p>

      <div class="button">
        <button type="submit" mat-raised-button color="primary">Salvar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
