.login-form {
    display: flex;
    justify-content: center;

    width: 360px;
	padding: 8% 0 0;
	margin: auto;
    .mat-form-field {
        width: 100%;
        min-width: 300px;
    }

    mat-card-title,
    mat-card-content {
        display: flex;
        justify-content: center;

    }

    mat-card-title {
        margin-top: 25px;
    }

    .error {
        padding: 16px;
        width: 180px;
        color: white;
        background-color: red;
    }

    .button {
        display: flex;
        justify-content: center;
    }
}
